<%- include('./partials/header') %>
    <% tweets.forEach(tweet => { %>
        <div class="card border-primary">
          <div class="card-body">
            <h4 class="card-title"><%= tweet.username %></h4>
            <p class="card-text"><%= tweet.tweet %></p>
          </div>
        </div>
    <% }) %>
<%- include('./partials/footer') %>