<%- include('../partials/header') %>

<form action="/api/tweet" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Tweet</label>
        <textarea name="tweet" class="form-control" placeholder="Tweet here"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Create Tweet</button>
</form>
<%- include('../partials/footer') %>