<%- include('../partials/header') %>

<form action="/api/register" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="username">
        <small id="username" class="text-muted">Username</small>
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="password">
        <small id="password" class="text-muted">Password</small>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
<%- include('../partials/footer') %>